mat-form-field{
    margin-top: 10px;
    color: rgb(83, 83, 83);
}
.text-danger{
    position: absolute;
    left: 0px;
    top: 35px;
}
.text-danger{
    color: rgb(255, 0, 0) !important;
}
.text-danger-2{
    color: rgb(255, 0, 0);
    position: absolute;
    left: 0px;
    top: 50px;
}