<mat-toolbar>
    <span>Association App</span>
</mat-toolbar>
<button mat-raised-button color="warn" (click)="logout()" class="logout"> Logout </button>

<button mat-button [matMenuTriggerFor]="userDetails" class="userInfo" matTooltip="Click to see client details"> Welcome {{clientDetails.userName}}! </button>
<mat-menu #userDetails="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="email"> Email </button>
    <button mat-menu-item [matMenuTriggerFor]="contact"> Contact </button>
    <button mat-menu-item [matMenuTriggerFor]="address"> Address </button>
    <button mat-menu-item [matMenuTriggerFor]="role"> Role </button>
    <button mat-menu-item [matMenuTriggerFor]="representative"> Representative </button>
</mat-menu>
<mat-menu #email="matMenu">
    <button mat-menu-item *ngIf="clientDetails.email != ''"> {{clientDetails.email}} </button>
    <button mat-menu-item *ngIf="clientDetails.email == ''"> Not provided </button>
  </mat-menu>
  <mat-menu #contact="matMenu">
    <button mat-menu-item *ngIf="clientDetails.telephone != ''"> {{clientDetails.telephone}} </button>
    <button mat-menu-item *ngIf="clientDetails.telephone == ''"> Not provided </button>
  </mat-menu>
  <mat-menu #address="matMenu">
    <button mat-menu-item *ngIf="clientDetails.address != null"> {{clientDetails.address}} </button>
    <button mat-menu-item *ngIf="clientDetails.address == null"> Not provided </button>
  </mat-menu>
  <mat-menu #role="matMenu">
    <button mat-menu-item> {{clientDetails.role}} </button>
  </mat-menu>
  <mat-menu #representative="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="userName"> UserName </button>
    <button mat-menu-item [matMenuTriggerFor]="repEmail"> Email </button>
    <button mat-menu-item [matMenuTriggerFor]="repAddress"> Address </button>
    <button mat-menu-item [matMenuTriggerFor]="repTelephone"> Contact </button>
    <button mat-menu-item [matMenuTriggerFor]="repAssociation"> Association </button>
  </mat-menu>

  <mat-menu #userName="matMenu">
    <button mat-menu-item> {{clientDetails.representative.representative.userName}} </button>
  </mat-menu>
  <mat-menu #repEmail="matMenu">
    <button mat-menu-item *ngIf="clientDetails.representative.representative.email != ''"> {{clientDetails.representative.representative.email}} </button>
    <button mat-menu-item *ngIf="clientDetails.representative.representative.email == ''"> Not Provided </button>
  </mat-menu>
  <mat-menu #repAddress="matMenu">
    <button mat-menu-item *ngIf="clientDetails.representative.representative.address != ''"> {{clientDetails.representative.representative.address}} </button>
    <button mat-menu-item *ngIf="clientDetails.representative.representative.address == ''"> Not Provided </button>
  </mat-menu>
  <mat-menu #repTelephone="matMenu">
    <button mat-menu-item *ngIf="clientDetails.representative.representative.telephone != ''"> {{clientDetails.representative.representative.telephone}} </button>
    <button mat-menu-item *ngIf="clientDetails.representative.representative.telephone == ''"> Not Provided </button>
  </mat-menu>
  <mat-menu #repAssociation="matMenu">
    <button mat-menu-item> {{clientDetails.representative.representative.association.description}} </button>
  </mat-menu>



<div class="col-md-10 offset-1">
    <mat-card class="animated fadeInDown">
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('association')"> <b> ASSOCIATION </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('providers')"> <b> PROVIDERS </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('receipts')"> <b> RECEIPTS </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('archives')"> <b> ARCHIVES </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('payments')"> <b> PAYMENTS </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openEmitPaymentDialog()"> <b> EMIT PAYMENT</b> </div>
        </div>
    </mat-card>
</div>