<h2 mat-dialog-title *ngIf="role == 'Client'" class="title">Register</h2>
<h2 mat-dialog-title *ngIf="role == 'Admin'" class="title">Add user</h2>
<h2 mat-dialog-title *ngIf="role != 'Admin' && role != 'Client'" class="title">Add Client</h2>
<mat-dialog-content>
    <form [formGroup]="registerForm" autocomplete="off" class="col-md-10 offset-1">
        <div class="flexContainer">
            <mat-form-field>
                <input type="text" matInput formControlName="UserName" placeholder="Username">
                <label class="text-danger" *ngIf="registerForm.get('UserName').touched && registerForm.get('UserName').errors?.required">Required</label>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput formControlName="Email" placeholder="Email">
                <label class="text-danger" *ngIf="registerForm.get('Email').touched && registerForm.get('Email').errors?.email">Incorrect email</label>
            </mat-form-field><br>
        </div>
        <div class="flexContainer">
            <mat-form-field>
                <input type="text" matInput formControlName="CNP" placeholder="CNP">
                <label class="text-danger" *ngIf="registerForm.get('CNP').touched && registerForm.get('CNP').errors?.required">Required</label>
                <label class="text-danger" *ngIf="registerForm.get('CNP').touched && registerForm.get('CNP').errors?.minlength">Minimum 13 chars</label>
            </mat-form-field>
            <mat-form-field>
                <input type="text" matInput formControlName="Telephone" placeholder="Telephone">
            </mat-form-field><br>
        </div>
        <mat-form-field style="max-width: 96%;">
            <input type="text" matInput formControlName="Address" placeholder="Address">
        </mat-form-field><br>
        <div class="flexContainer">
            <mat-form-field *ngIf="role == 'Admin'">
                <mat-label>Select Role</mat-label>
                <mat-select formControlName="Role">
                  <mat-option *ngFor="let role of roles" [value]="role" (click)="selectRole(role)">
                    {{role}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
            <mat-form-field *ngIf="roleSelectedByAdmin == 'Representative'">
                <mat-label>Select Association</mat-label>
                <mat-select formControlName="AssociationId">
                  <mat-option *ngFor="let association of associations" [value]="association.id">
                    {{association.description}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
            <mat-form-field *ngIf="role == 'Client' || roleSelectedByAdmin == 'Client'">
                <mat-label>Select Representant</mat-label>
                <mat-select formControlName="RepresentativeId">
                  <mat-option *ngFor="let representative of representatives" [value]="representative.id">
                    {{representative.userName}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
        </div>
        <div *ngIf="role == 'Client' || roleSelectedByAdmin == 'Client' || (role != 'Admin' && role != 'Client')">
            <h6 class="title" style="margin-top: 5px;"> Select providers </h6>
        </div>
        <div class="flexContainer" *ngIf="role == 'Client' || roleSelectedByAdmin == 'Client' || (role != 'Admin' && role != 'Client')">
            <mat-form-field style="max-width: 29%;">
                <mat-label>Water</mat-label>
                <mat-select formControlName="WaterProvider">
                  <mat-option *ngFor="let provider of providers" [value]="provider.id" [disabled]="provider.coldWaterLiterPrice == 0">
                          {{provider.name}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
            <mat-form-field style="max-width: 29%;">
                <mat-label>Electricity</mat-label>
                <mat-select formControlName="ElectricityProvider">
                  <mat-option *ngFor="let provider of providers" [value]="provider.id" [disabled]="provider.electricityPrice == 0">
                    {{provider.name}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
            <mat-form-field style="max-width: 29%;">
                <mat-label>Gas</mat-label>
                <mat-select formControlName="GasProvider">
                  <mat-option *ngFor="let provider of providers" [value]="provider.id" [disabled]="provider.gasPrice == 0">
                    {{provider.name}}
                  </mat-option>
                </mat-select>
                <label class="text-danger" *ngIf="registerForm.get('Role').touched && registerForm.get('Role').errors?.required">Required</label>
            </mat-form-field>
        </div>
        <div class="flexContainer">
            <mat-form-field>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="Password" placeholder="Password" (input)="matchPasswords()">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <label class="text-danger" *ngIf="registerForm.get('Password').touched && registerForm.get('Password').errors?.required">Required</label>
                <label class="text-danger" *ngIf="registerForm.get('Password').touched && registerForm.get('Password').errors?.minlength">Minimum 4 chars</label>
            </mat-form-field>
            <mat-form-field>
                <input [type]="hide ? 'password' : 'text'" matInput formControlName="ConfirmPassword" placeholder="Confirm password" (input)="matchPasswords()">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
                <label class="text-danger" *ngIf="registerForm.get('ConfirmPassword').touched && registerForm.get('ConfirmPassword').errors?.required">Required</label>
                <label class="text-danger2" *ngIf="registerForm.get('ConfirmPassword').touched && mismatch">Passwords mismatch</label>
            </mat-form-field><br><br><br><br>
        </div><br>
    </form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button (click)="register()"  mat-dialog-close mat-dialog-close="true" [disabled]="!registerForm.valid || mismatch || 
                                                                                                        (role == 'Admin' && roleSelectedByAdmin == '') || 
                                                                                                        (role == 'Admin' && roleSelectedByAdmin == 'Representative' && registerForm.value.AssociationId == '') ||
                                                                                                        (role == 'Admin' && roleSelectedByAdmin == 'Client' && registerForm.value.RepresentativeId == '') ||
                                                                                                        (role == 'Client' && registerForm.value.RepresentativeId == '' && registerForm.value.WaterProvider == 0 && registerForm.value.GasProvider == 0 && registerForm.value.ElectricityProvider == 0) || 
                                                                                                        (role != 'Admin' && role != 'Client' && registerForm.value.RepresentativeId == '')"> 
        Register 
    </button>
</mat-dialog-actions><br>