mat-form-field{
    margin: 10px;
    width: 100%;
}
mat-dialog-content{
    width: 600px !important;
}
.text-danger{
    position: absolute;
    left: 0;
    top: 40px;
}
.text-danger2{
    color: rgb(212, 49, 49);
    position: absolute;
    left: 0;
    top: 60px;
}
button{
  margin: 0px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
.title{
    text-align: center;
}
.flexContainer{
    display: flex;
}
.flexContent{
    flex: 1;
}