mat-form-field{
    margin-bottom: 7px;
    width: 350px;
    margin-left: 20px;
}
.text-danger{
    color: rgb(255, 0, 0) !important;
    position: absolute;
    top: 40px !important;
    left: 0;
}
.text-danger2{
    color: rgb(255, 0, 0);
    position: absolute;
    top: 60px !important;
    left: 0;
}
button{
    margin-top: 10px;
    color: white;
    background: rgb(77, 148, 121);
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: black !important;
}

::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: rgb(77, 148, 121) !important;
}
::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: rgb(77, 148, 121) !important;;
}
::ng-deep.mat-select .mat-select-trigger .mat-select-arrow {
color: rgb(77, 148, 121) !important;
}
::ng-deep.mat-select .mat-select-trigger .mat-select-value {
color: rgb(77, 148, 121) !important;
}