.buttonCenter{
    margin: 0px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.title{
    text-align: center;
}
.cell{
    margin-left: 5px;
    margin-right: 5px;
}
mat-header-cell, mat-cell{
    margin-left: 5px;
    margin-right: 5px;
}
mat-table, mat-paginator, mat-horizontal-stepper{
    background: none !important;
}
.search{
    position: absolute;
    margin-left: 25px;
    z-index: 1;
}
button{
    margin-right: 8px;
}
::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.5);
}
.flexContainer{
    width: 100%;
    display: flex;
}
.flexContent{
    width: 15% !important;
}
.flexSmallContent{
    width: 10% !important;
}
.column{
    font-size: 12px;
    color: rgb(112, 112, 112);
}
.content{
    font-size: 15px;
}
button{
    font-size: 12px;
    margin: 0px auto;
    margin-right: 5px;
}
.spacing{
    margin-left: 24px; 
    padding-top: 12px; 
    padding-bottom: 12px;
}
mat-row:hover, .spacing:hover{
    background-color: rgba(255, 255, 255, 0.301);
    box-shadow: 1px 2px 8px rgba(56, 56, 56, 0.589);
    transition: 400ms;
}
.mat-column-actions {
    flex: 0 0 14% !important;
    width: 14% !important;
}
.mat-column-daysDelay {
    flex: 0 0 7% !important;
    width: 7% !important;
}
.mat-column-penalties {
    flex: 0 0 6% !important;
    width: 6% !important;
}
.mat-column-totalDueWithPenalties {
    flex: 0 0 11% !important;
    width: 12% !important;
}
.mat-column-date {
    flex: 0 0 10% !important;
    width: 10% !important;
}
.mat-column-paymentStatus {
    flex: 0 0 9% !important;
    width: 9% !important;
}
.mat-column-sanitationStatus {
    flex: 0 0 9% !important;
    width: 9% !important;
}
.mat-column-workingCapitalStatus {
    flex: 0 0 9% !important;
    width: 9% !important;
}
.mat-column-totalPaid {
    flex: 0 0 8% !important;
    width: 8% !important;
}
.mat-column-remaining {
    flex: 0 0 10% !important;
    width: 10% !important;
}
.mat-column-totalPayment {
    flex: 0 0 8% !important;
    width: 8% !important;
}
.mat-column-kitchen {
    flex: 0 0 16% !important;
    width: 16% !important;
}
.mat-column-bathroom {
    flex: 0 0 16% !important;
    width: 16% !important;
}
.mat-column-gas {
    flex: 0 0 16% !important;
    width: 16% !important;
}
.mat-column-electricity {
    flex: 0 0 16% !important;
    width: 16% !important;
}