<mat-toolbar>
    <span>Association App</span>
</mat-toolbar>
  
<button mat-raised-button color="warn" (click)="logout()" class="logout"> Logout </button>
<button mat-button [matMenuTriggerFor]="userDetails" class="userInfo" *ngIf="adminDetails.userName != null" matTooltip="Click to see admin details" style="color: white"> Welcome {{adminDetails.userName}}! </button>
<mat-menu #userDetails="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="email"> Email </button>
  <button mat-menu-item [matMenuTriggerFor]="contact"> Contact </button>
  <button mat-menu-item [matMenuTriggerFor]="address"> Address </button>
  <button mat-menu-item [matMenuTriggerFor]="role"> Role </button>
</mat-menu>

<mat-menu #email="matMenu">
  <button mat-menu-item> {{adminDetails.email}} </button>
</mat-menu>
<mat-menu #contact="matMenu">
  <button mat-menu-item *ngIf="adminDetails.telephone != null"> {{adminDetails.telephone}} </button>
  <button mat-menu-item *ngIf="adminDetails.telephone == null"> Not provided </button>
</mat-menu>
<mat-menu #address="matMenu">
  <button mat-menu-item *ngIf="adminDetails.address != null"> {{adminDetails.address}} </button>
  <button mat-menu-item *ngIf="adminDetails.address == null"> Not provided </button>
</mat-menu>
<mat-menu #role="matMenu">
  <button mat-menu-item> Admin </button>
</mat-menu>


<div class="col-md-10 offset-1" style="min-width: 1100px;">
    <mat-card class="animated fadeInDown">
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog(adminDetails.userName)"> <b> USERS</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog('associations')"> <b> ASSOCIATIONS </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog('providers')"> <b> PROVIDERS </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog('payments')"> <b> PAYMENTS</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog('receipts')"> <b> RECEIPTS </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openViewDetailsDialog('archives')"> <b> ARCHIVES </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openRegisterDialog()"> <b> ADD USER</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openAddAssociationDialog()"> <b> ADD ASSOCIATION </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openAddProviderDialog()"> <b> ADD PROVIDER </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="openEmitPaymentDialog()"> <b> EMIT PAYMENT</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown optionButton" (click)="updatePayments()"> <b> UPDATE PAYMENTS </b> </div>
        </div>
    </mat-card>
</div>