mat-card{
    margin: 0 auto;
    position: relative;
    top: 200px;
    box-shadow: none !important;
    background: none;
}
mat-toolbar{
    background: rgb(48, 48, 48);
    color: white;
}
.flexContainer{
    display: flex;
    margin: 50px;
}
.flexContent{
    flex: 1;
    text-align: center;
}
.dialogLink{
    font-size: 45px;
    text-align: center;
}
.dialogLink:hover{
    cursor: pointer;
}
.logout{
    position: absolute;
    top: 13px;
    right: 20px;
}
.userInfo{
    position: absolute;
    top: 13px;
    right: 10%;
    font-size:x-large;
}

::ng-deep.mat-dialog-container {
    background-color: rgba(255, 255, 255, 0.555) !important;
    backdrop-filter: blur(5px) !important;
    border-radius: 20px !important;
}
