<mat-toolbar>
    <span>Association App</span>
</mat-toolbar>
  
<button mat-raised-button color="warn" (click)="logout()" class="logout"> Logout </button>
<button mat-button [matMenuTriggerFor]="userDetails" class="userInfo" *ngIf="adminDetails.userName != null" matTooltip="Click to see admin details"> Welcome {{adminDetails.userName}}! </button>
<mat-menu #userDetails="matMenu">
  <button mat-menu-item [matMenuTriggerFor]="email"> Email </button>
  <button mat-menu-item [matMenuTriggerFor]="contact"> Contact </button>
  <button mat-menu-item [matMenuTriggerFor]="address"> Address </button>
</mat-menu>

<mat-menu #email="matMenu">
  <button mat-menu-item> {{adminDetails.email}} </button>
</mat-menu>
<mat-menu #contact="matMenu">
  <button mat-menu-item *ngIf="adminDetails.telephone != null"> {{adminDetails.telephone}} </button>
  <button mat-menu-item *ngIf="adminDetails.telephone == null"> Not provided </button>
</mat-menu>
<mat-menu #address="matMenu">
  <button mat-menu-item *ngIf="adminDetails.address != null"> {{adminDetails.address}} </button>
  <button mat-menu-item *ngIf="adminDetails.address == null"> Not provided </button>
</mat-menu>


<div class="col-md-10 offset-1">
    <mat-card class="animated fadeInDown">
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('users')"> <b> VIEW USERS</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('associations')"> <b> VIEW ASSOCIATIONS </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openViewDetailsDialog('providers')"> <b> VIEW PROVIDERS </b> </div>
        </div>
        <div class="flexContainer">
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openRegisterDialog()"> <b> ADD USER</b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openAddAssociationDialog()"> <b> ADD ASSOCIATION </b> </div>
            <div class="flexContent dialogLink animate__animated animate__fadeInDown" (click)="openAddProviderDialog()"> <b> ADD PROVIDER </b> </div>
        </div>
    </mat-card>
</div>