mat-card{
    background: rgba(255, 255, 255, 0.829);
    margin: 0 auto;
    text-align: center;
}
::ng-deep .mat-tooltip {
    font-size: 14px!important;
}
.cancelAddZone{
    position: absolute;
    top: 10px;
    color: rgb(68, 68, 68);
}
.cancelAddZone:hover{
    cursor: pointer;
    color: rgb(153, 153, 245);
    transition: 400ms;
}
.pending:hover{
    cursor: pointer;
}
a{
    position: absolute;
    top: 50px;
    left: 15%;
    font-size: 24px;
    text-decoration: none;
    color: whitesmoke;
}
a:hover{
    color: rgb(186, 160, 235);
    transition: 300ms;
}
.flexContainer{
    display: flex;
}
.flexContent{
    flex: 1;
}
.title{
    font-size: 22px;
    margin: 10px;
}
.content{
    margin:6px;
}
.divider{
    border: 2px solid white;
    margin: 5px;
    border-radius: 50%;
    border-color: rgba(255, 255, 255, 0.747);
    margin-bottom: 10px;
}
mat-form-field{
    margin-top: 10px;
}
.text-danger{
    position: absolute;
    left: 0px;
    top: 35px;
}
.text-danger-2{
    color: rgb(228, 62, 62);
    position: absolute;
    left: 0px;
    top: 50px;
}
.editElement{
    width: 120px;
    position: relative;
    top: -30px;
    height: 0px;
}

::ng-deep .mat-form-field-label {
    /*change color of label*/
    color: grey !important;
}

::ng-deep.mat-form-field-underline {
/*change color of underline*/
background-color: grey !important;
} 

::ng-deep.mat-form-field-ripple {
/*change color of underline when focused*/
background-color: grey !important;;
}
::ng-deep.mat-select .mat-select-trigger .mat-select-arrow {
color: grey !important;
}
::ng-deep.mat-select .mat-select-trigger .mat-select-value {
color: grey !important;
}