/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; 
             background: linear-gradient(300deg, rgb(52, 149, 214),rgb(93, 80, 216));
            background-position: fixed;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
